In [9]:
import re
import pandas as pd
import concurrent.futures
from concurrent.futures import ProcessPoolExecutor,wait,as_completed

In [72]:

fname = "NALMA_220712_235000_0600.dat"
expression ='(\d*[.?]\d*\s*)([+-?]\d*[.?]\d*\s*)([+-?]\d*[.?]\d*\s*)([+-?]\d*[.?]\d*\s*)([+-?]\d*[.?]\d*\s*)([+-?]\d*[.?]\d*\s*)([0-9a-zA-Z]*)'
def extract_NALMA(expression,fname):
    with open(fname,mode='rt') as f:
        nalma_data = f.read()
        x = re.findall(expression, nalma_data)
        df = pd.DataFrame(x,columns=['Time (UT sec of day)','Latitude','Longitude', 'Altitude (m)', 'reduced chi^2', 'P(dBW)','mask'])
        df = df.astype({'Time (UT sec of day)':'float32',
                        'Latitude':'float32',
                        'Longitude':'float32',
                        'Altitude (m)':'float32',
                        'reduced chi^2':'float32',
                        'P(dBW)':'float32',
                        'mask':'object'});
    return df

In [73]:
df = extract_NALMA(expression,fname)

In [74]:
df.convert_dtypes()

,Time (UT sec of day),Latitude,Longitude,Altitude (m),reduced chi^2,P(dBW),mask
0,85800.070312,35.747196,-86.212585,9738.049805,0.0,5.1,0x009f
1,85800.09375,35.715305,-86.261909,16402.820312,2.31,-0.8,0x00bf
2,85800.109375,35.738178,-86.221741,9756.089844,0.2,2.0,0x009f
3,85800.109375,35.752926,-86.243515,24828.080078,3.53,2.7,0x003f
4,85800.117188,35.746391,-86.20742,9738.55957,0.44,1.2,0x009f
...,...,...,...,...,...,...,...
112500,86399.953125,35.933285,-85.762215,13189.69043,0.83,11.4,0x1ac1
112501,86399.976562,35.562408,-86.206833,11683.780273,2.77,10.6,0x14c6
112502,86399.976562,35.97366,-86.051941,9976.280273,1.93,5.1,0x08db
112503,86399.976562,35.985226,-86.050087,17343.919922,2.73,9.3,0x1a8f
112504,86399.976562,35.982964,-86.053078,15783.200195,0.68,1.2,0x1a8b

In [69]:
df.dtypes

Time (UT sec of day)    float32
Latitude                float32
Longitude               float32
Altitude (m)            float32
reduced chi^2           float32
P(dBW)                  float32
mask                     object
dtype: object